<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>YU food</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<string></string>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>NewYorkExtraLarge-Black.otf</string>
		<string>NewYorkExtraLarge-BlackItalic.otf</string>
		<string>NewYorkExtraLarge-Bold.otf</string>
		<string>NewYorkExtraLarge-BoldItalic.otf</string>
		<string>NewYorkExtraLarge-Heavy.otf</string>
		<string>NewYorkExtraLarge-HeavyItalic.otf</string>
		<string>NewYorkExtraLarge-Medium.otf</string>
		<string>NewYorkExtraLarge-MediumItalic.otf</string>
		<string>NewYorkExtraLarge-Regular.otf</string>
		<string>NewYorkExtraLarge-RegularItalic.otf</string>
		<string>NewYorkExtraLarge-Semibold.otf</string>
		<string>NewYorkExtraLarge-SemiboldItalic.otf</string>
		<string>NewYorkLarge-Black.otf</string>
		<string>NewYorkLarge-BlackItalic.otf</string>
		<string>NewYorkLarge-Bold.otf</string>
		<string>NewYorkLarge-BoldItalic.otf</string>
		<string>NewYorkLarge-Heavy.otf</string>
		<string>NewYorkLarge-HeavyItalic.otf</string>
		<string>NewYorkLarge-Medium.otf</string>
		<string>NewYorkLarge-MediumItalic.otf</string>
		<string>NewYorkLarge-Regular.otf</string>
		<string>NewYorkLarge-RegularItalic.otf</string>
		<string>NewYorkLarge-Semibold.otf</string>
		<string>NewYorkLarge-SemiboldItalic.otf</string>
		<string>NewYorkMedium-Black.otf</string>
		<string>NewYorkMedium-BlackItalic.otf</string>
		<string>NewYorkMedium-Bold.otf</string>
		<string>NewYorkMedium-BoldItalic.otf</string>
		<string>NewYorkMedium-Heavy.otf</string>
		<string>NewYorkMedium-HeavyItalic.otf</string>
		<string>NewYorkMedium-Medium.otf</string>
		<string>NewYorkMedium-MediumItalic.otf</string>
		<string>NewYorkMedium-Regular.otf</string>
		<string>NewYorkMedium-RegularItalic.otf</string>
		<string>NewYorkMedium-Semibold.otf</string>
		<string>NewYorkMedium-SemiboldItalic.otf</string>
		<string>NewYorkSmall-Black.otf</string>
		<string>NewYorkSmall-BlackItalic.otf</string>
		<string>NewYorkSmall-Bold.otf</string>
		<string>NewYorkSmall-BoldItalic.otf</string>
		<string>NewYorkSmall-Heavy.otf</string>
		<string>NewYorkSmall-HeavyItalic.otf</string>
		<string>NewYorkSmall-Medium.otf</string>
		<string>NewYorkSmall-MediumItalic.otf</string>
		<string>NewYorkSmall-Regular.otf</string>
		<string>NewYorkSmall-RegularItalic.otf</string>
		<string>NewYorkSmall-Semibold.otf</string>
		<string>NewYorkSmall-SemiboldItalic.otf</string>
		<string>AzoSans-Medium.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>237461d9c0db298a704e05f506965287</string>
	</dict>
</dict>
</plist>
